.Word-Wrapper{
    font-size: 90px;
    color: white;
    margin-top: 50px;
    margin-left: 50px;
}
.Word-Wrapper .text{
    animation:change1 1.5s ease infinite normal;
    -moz-animation:change1 1.5s ease infinite normal; /* Firefox */
    -webkit-animation:change1 1.5s ease infinite normal; /* Safari and Chrome */
    -o-animation:change1 1.5s ease infinite normal; /* Opera */
}
@keyframes change1
{
    0%   {opacity: 0;}
    100% {opacity: 1;}
    0%   {opacity: 0;}
}
@-moz-keyframes change1
{
    0%   {opacity: 0;}
    100% {opacity: 1;}
    0%   {opacity: 0;}
}

@-webkit-keyframes change1
{
    0%   {opacity: 0;}
    100% {opacity: 1;}
    0%   {opacity: 0;}
}

@-o-keyframes change1
{
    0%   {opacity: 0;}
    100% {opacity: 1;}
    0%   {opacity: 0;}
}
.img img{
    width: 300px;
    height: 300px;
    border-radius: 150px;
}
.img{
    position: absolute;
    top: 120px;
    left: 65%
}
.Foot{
    width: 95%;
    height: 80px;
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translate(-50%,0);
    /* background-color: red; */
}
.Foot div{
    float: left;
    line-height: 80px;
    width: 24%;
    border: 1px solid black;
    text-align: center;
    font-size: 15px;
}
.Foot div:nth-child(1){
    border-left: 0;
}
.Foot div:nth-child(4){
    border-right: 0;
}
@media screen and (max-width: 500px){
    .Word-Wrapper{
        font-size: 30px;
        position: absolute;
        top: 35%;
    }
    .img img{
        width: 100px;
        height: 100px;
        border-radius: 50px;
    }
    .img{
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%,0);
    }
    .Foot{
        width: 95%;
        height: 50px;
        position: absolute;
        bottom: 15%;
        left: 50%;
        transform: translate(-50%,0);
        /* background-color: red; */
    }
    .Foot div{
        float: left;
        line-height: 50px;
        width: 48%;
        border: 1px solid black;
        text-align: center;
        font-size: 12px;
    }
    .Foot div:nth-child(1){
        border-left: 1px solid black;
    }
    .Foot div:nth-child(4){
        border-right: 1px solid black;
    }
}