.Word-Wrapper{
    font-size: 90px;
    color: white;
    margin-top: 130px;
    margin-left: 50px;
}
.Word-Wrapper .text{
    animation:change1 1.5s ease infinite normal;
    -moz-animation:change1 1.5s ease infinite normal; /* Firefox */
    -webkit-animation:change1 1.5s ease infinite normal; /* Safari and Chrome */
    -o-animation:change1 1.5s ease infinite normal; /* Opera */
}
@keyframes change1
{
    0%   {opacity: 0;}
    100% {opacity: 1;}
    0%   {opacity: 0;}
}
@-moz-keyframes change1
{
    0%   {opacity: 0;}
    100% {opacity: 1;}
    0%   {opacity: 0;}
}

@-webkit-keyframes change1
{
    0%   {opacity: 0;}
    100% {opacity: 1;}
    0%   {opacity: 0;}
}

@-o-keyframes change1
{
    0%   {opacity: 0;}
    100% {opacity: 1;}
    0%   {opacity: 0;}
}
.img img{
    width: 300px;
    height: 300px;
    border-radius: 150px;
}
.img{
    position: absolute;
    top: 200px;
    left: 65%
}
.Foot{
    width: 95%;
    height: 80px;
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translate(-50%,0);
    /* background-color: red; */
}
.Foot div{
    float: left;
    line-height: 80px;
    width: 24%;
    border: 1px solid black;
    text-align: center;
    font-size: 15px;
}
.Foot div:nth-child(1){
    border-left: 0;
    /* color: azure; */
}
.Foot div:nth-child(2){
    border-left: 0;
    /* color: azure; */
    z-index: 2;
}
.Foot div:nth-child(3){
    border-left: 0;
    z-index: 3;
    /* color: azure; */
}
.Foot div:nth-child(4){
    border-right: 0;
    border-left: 0;
    /* z-index: 1; */
    color: white;
}
.message-wrap{
    /* background-color: black; */
    width: 500px;
    position: absolute;
    top: 50px;
    right: -150px;
}
.message-wrap img{
    width: 70px;
    height: 70px;
    margin-right: 50px;
    cursor: pointer;
}
.message-wrap img:hover{
    animation:ho 0.8s linear;
}
.modall1{
    width: 320px;
    height: 240px;
    background: #ff713c;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 20px;
    transform: translate(-50%,-48%);
    /* display: none; */
    animation: openit 1s linear;
    z-index: 1;
    border: 1px solid black;
    animation: zan 1s linear;
}
.modall1del{
    width: 320px;
    height: 240px;
    background: #ff713c;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 20px;
    transform: translate(-50%,-48%);
    /* display: none; */
    animation: openit 1s linear;
    z-index: 1;
    border: 1px solid black;
    animation: out 1s linear;
    opacity: 0;
}
.modall1 .xie,.modall1del .xie{
    color: #eee;
    /* background: #99CC99; */
    font-size: 35px;
    width: 105px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-150%);
}
.modall1 .zan,.modall1del .zan{
    color: white;
    background: #FF9900;
    font-size: 18px;
    border-radius: 20px;
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-100%);
    border: 1px solid black;
}
@keyframes zan{
    0%{
        left: 30%;top: 30%;opacity: 0;
    }
    100%{
        left: 50%;top: 50%;opacity: 1;
    }
}
@keyframes out{
    0%{
        left: 50%;top: 50%;opacity: 1;
    }
    100%{
        left: 30%;top: 30%;opacity: 0;
    }
}
.modaldell{
    display: none;
}
.modall3 .user{
    color: black;
    font-size: 18px;
    position: relative;
    margin: 0 auto;
    top: 150px;
    width: 280px;
}
.modall3 input{
    height: 40px;
    width: 150px;
    border: 1px solid black;
    outline:none;
    background: #ccc;
    border-radius: 20px;
    padding-left: 20px;
    position: relative;
    top: 180px;
    left: 60px;
}
.modall3 .butt{
    height: 40px;
    width: 100px;
    border: 1px solid black;
    background: red;
    color: white;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
    top: 180px;
    transform: translate(0,-100%);
    left:250px;
}
.modall3 .use,.modall3 .city{
    font-size: 20px;
    height: 35px;
    line-height: 35px;
    position: relative;
    color:white;
    background:#FF9900;
    border: 1px solid black;
    width: 50%;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
    top: 170px;
    left: 50%;
    transform: translate(-50%,0);
}
.modall3 img{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    top: 60px;
}
.contentnone{
    display: none;
}
li{
    list-style: none;
}
.liuyan{
    position: relative;
    /* background: black; */
    margin-top: 20px;
    width: 350px;
    left: 50%;
    transform: translate(-50%,0);
}
.liuyan li:nth-child(1){
    font-size: 18px;
    background: #eee;
    color: black;
}
.liuyan li:nth-child(2){
    background: #FF9900;
    color: white;
    height: 40px;
    margin-top: 20px;
    font-size: 16px;
    line-height: 40px;
    padding-left: 20px;
    border-radius: 15px;
}
.liuyan li:nth-child(3){
    position: absolute;
    top: 0;
    right: 0;
}
.liuyan li:nth-child(4){
    position: absolute;
    top: 0;
    transform: translate(0,100%);
    right: 0;
}
.modall2 input{
    height: 40px;
    width: 180px;
    border: 1px solid black;
    outline:none;
    background: #ccc;
    border-radius: 20px;
    padding-left: 20px;
    position: relative;
    top: 20px;
    left: 20px;
}
.modall2 .butt{
    height: 40px;
    width: 100px;
    border: 1px solid black;
    background: red;
    color: white;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
    top: 20px;
    transform: translate(0,-100%);
    left:280px;
}
.modall2{
    width: 400px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-48%);
    /* display: none; */
    animation: openit 1s linear;
    z-index: 1;
}
.modall2 .title{
    background-color: #99CC99;
    color: white;
    height: 35px;
    border-radius: 15px 15px 0 0;
    border: 1px solid black;
    text-align: center;
    line-height: 35px;
}
.modall2 .content{
    /* width:998px;  */
    width: 99.8%;
    /* height:1%; */
    height: 300px;
    overflow-y:auto;
    /* overflow-x:auto;  */
    background-color: #eee;
    color: #999;
    border: 1px solid black;
    border-top: 0;
    border-bottom: 0;
}
.modall2 .content::-webkit-scrollbar
{
    width: 5px;
    /* height: 10px; */
    background-color: #eee;
}
/*定义滚动条轨道 内阴影+圆角*/
.modall2 .content::-webkit-scrollbar-track
{
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    border-radius: 10px;
    background-color: white;
}
/*定义滑块 内阴影+圆角*/
.modall2 .content::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    /* width: 1px; */
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
    background-color: #ccc;
}
.modall2 .bot{
    width: 99.8%;
    height: 15px;
    margin-top: -2px;
    background-color: #eee;
    border-radius:0 0 15px 15px;
    border: 1px solid black;
    border-top: 0;
}
.modall2 .del{
    width: 26px;
    height: 26px;
    border-radius: 13px;
    background-color: #FF6666;
    position: absolute;
    top: 6px;
    right: 15px;
    cursor: pointer;
}
.modall3{
    width: 400px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-48%);
    /* display: none; */
    animation: openit 1s linear;
    z-index: 1;
}
.modall3 .title{
    background-color: #99CC99;
    color: white;
    height: 35px;
    border-radius: 15px 15px 0 0;
    border: 1px solid black;
    text-align: center;
    line-height: 35px;
}
.modall3 .content{
    /* width:998px;  */
    width: 99.8%;
    /* height:1%; */
    height: 300px;
    overflow-y:auto;
    /* overflow-x:auto;  */
    background-color: #eee;
    color: #999;
    border: 1px solid black;
    border-top: 0;
    border-bottom: 0;
}
.modall3 .content::-webkit-scrollbar
{
    width: 5px;
    /* height: 10px; */
    background-color: #eee;
}
/*定义滚动条轨道 内阴影+圆角*/
.modall3 .content::-webkit-scrollbar-track
{
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    border-radius: 10px;
    background-color: white;
}
/*定义滑块 内阴影+圆角*/
.modall3 .content::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    /* width: 1px; */
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
    background-color: #ccc;
}
.modall3 .bot{
    width: 99.8%;
    height: 15px;
    margin-top: -2px;
    background-color: #eee;
    border-radius:0 0 15px 15px;
    border: 1px solid black;
    border-top: 0;
}
.modall3 .del{
    width: 26px;
    height: 26px;
    border-radius: 13px;
    background-color: #FF6666;
    position: absolute;
    top: 6px;
    right: 15px;
    cursor: pointer;
}
.jia{
    color: #999;
    /* background: #FF6666; */
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    width: 100px;
    margin-left: 50%;
    transform: translate(-50%,0);
    cursor: pointer;
}
@keyframes ho{
    0%{ -webkit-transform: translateY(-10px);transform: translateY(-10px);}
    20%{-webkit-transform: translateY(0);transform: translateY(0);}
    40%{-webkit-transform: translateY(-6px);transform: translateY(-6px);}
    60%{-webkit-transform: translateY(0);transform: translateY(0);}
    80%{-webkit-transform: translateY(-4px);transform: translateY(-4px);}
    100%{-webkit-transform: translateY(0);transform: translateY(0);}
}
@media screen and (max-width: 500px){
    .Word-Wrapper{
        font-size: 30px;
        position: absolute;
        top: 35%;
    }
    .img img{
        width: 100px;
        height: 100px;
        border-radius: 50px;
    }
    .img{
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%,0);
    }
    .Foot{
        width: 95%;
        height: 50px;
        position: absolute;
        bottom: 15%;
        left: 50%;
        transform: translate(-50%,0);
        /* background-color: red; */
    }
    .Foot div{
        float: left;
        line-height: 50px;
        width: 48%;
        border: 1px solid black;
        text-align: center;
        font-size: 12px;
    }
    .Foot div:nth-child(1){
        border-left: 1px solid black;
        border-bottom: 0;
    }
    .Foot div:nth-child(2){
        border-left: 1px solid black;
        border-left: 0;
        border-bottom: 0;
    }
    .Foot div:nth-child(3){
        border-left: 1px solid black;
    }
    .Foot div:nth-child(4){
        border-right: 1px solid black;
    }
    .message-wrap{
        /* background: #99CC99; */
        width: 90%;
        position: absolute;
        left: 50%;
        top: 35%;
        transform: translate(-50%,0);
        text-align: center;
    }
    .message-wrap img{
        margin-right: 12%;
    }
    .message-wrap img:nth-child(3){
        margin-right: 0;
    }
    .modall1del{
        width: 320px;
        height: 240px;
        background: #ff713c;
        position: absolute;
        left: -30%;
        top: 50%;
        border-radius: 20px;
        transform: translate(-50%,-48%);
        /* display: none; */
        animation: openit 1s linear;
        z-index: 1;
        border: 1px solid black;
        animation: out 1s linear;
        opacity: 0;
    }
    @keyframes out{
        0%{
            left: 50%;top: 50%;opacity: 1;
        }
        100%{
            left: -30%;top: 30%;opacity: 0;
        }
    }
}