.Word-Wrapper{
    font-size: 90px;
    color: white;
    margin-top: 50px;
    margin-left: 50px;
}
.Word-Wrapper .text{
    animation:change 1.5s ease infinite normal;
    -moz-animation:change 1.5s ease infinite normal; /* Firefox */
    -webkit-animation:change 1.5s ease infinite normal; /* Safari and Chrome */
    -o-animation:change 1.5s ease infinite normal; /* Opera */
}
@keyframes change
{
    0%   {opacity: 0;}
    100% {opacity: 1;}
    0%   {opacity: 0;}
}
@-moz-keyframes change
{
    0%   {opacity: 0;}
    100% {opacity: 1;}
    0%   {opacity: 0;}
}

@-webkit-keyframes change
{
    0%   {opacity: 0;}
    100% {opacity: 1;}
    0%   {opacity: 0;}
}

@-o-keyframes change
{
    0%   {opacity: 0;}
    100% {opacity: 1;}
    0%   {opacity: 0;}
}
.img img{
    width: 300px;
    height: 300px;
    border-radius: 150px;
}
.img{
    position: absolute;
    top: 120px;
    left: 65%
}
.Foot{
    width: 95%;
    height: 80px;
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translate(-50%,0);
    /* background-color: red; */
}
.Foot div{
    float: left;
    line-height: 80px;
    width: 24%;
    border: 1px solid black;
    text-align: center;
    font-size: 20px;
}
.Foot div:nth-child(1){
    border-left: 0;
}
.Foot div:nth-child(4){
    border-right: 0;
}