body{
    overflow: hidden;
}
.experience{
    width: 150px;
    height: 50px;
    background: #20B2AA;
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    border-radius: 15px;
    border:1.5px solid black;
    margin-top: 2%;
    margin-left: 6%;
}
.experience-font{
    width: 100px;
    height: 40px;
    background: #66CDAA;
    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    border-radius: 15px;
    border:1.5px solid black;
    position: absolute;
    margin-top: 4%;
    margin-left: 10%;
}
.experience-back{
    width: 100px;
    height: 40px;
    background: #E9967A;
    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    border-radius: 15px;
    border:1.5px solid black;
    position: absolute;
    margin-top: 7%;
    margin-left: 10%;
}
.experience-iot{
    width: 100px;
    height: 40px;
    background: #FF6666;
    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    border-radius: 15px;
    border:1.5px solid black;
    position: absolute;
    margin-top: 4%;
    margin-left: 57%;
}
.code-write{
    width: 100px;
    height: 40px;
    background: #FF7F50;
    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    border-radius: 15px;
    border:1.5px solid black;
    position: absolute;
    margin-top: 7%;
    margin-left: 57%;
}
.lvshi{
    width: 80px;
    height: 80px;
    cursor: pointer;
    /* float: left; */
    /* background: #999; */
    font-size: 16px;
    text-align: center;
    color: black;
    font-weight: 600;
    margin-top: 11%;
    /* float: right; */
    margin-left: 13%;
}
.lvshi img{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 25px;
    background: #ff6b6a;
}
.lvshi img:hover,.gg img:hover,.nine img:hover,.mr img:hover,.flower img:hover,.pengpeng img:hover,.iotcar img:hover,.music img:hover,.chicken img:hover,
.vue img:hover,.react img:hover,.promise img:hover{
    animation:ho 0.5s linear;
}
@keyframes ho{
    0%{-webkit-transform: translateY(-10px);transform: translateY(-10px);}
    20%{-webkit-transform: translateY(0);transform: translateY(0);}
    40%{-webkit-transform: translateY(-6px);transform: translateY(-6px);}
    60%{-webkit-transform: translateY(0);transform: translateY(0);}
    80%{-webkit-transform: translateY(-4px);transform: translateY(-4px);}
    100%{-webkit-transform: translateY(0);transform: translateY(0);}
}
.modal1{
    width: 50%;
    /* height: 50%; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-48%);
    /* display: none; */
    animation: openit 1s linear;
    z-index: 1;
}
@keyframes openit{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
.modaldel{
    display: none;
}

.modal1 .title{
    background-color: #20B2AA;
    color: white;
    height: 35px;
    border-radius: 15px 15px 0 0;
    border: 1px solid black;
    text-align: center;
    line-height: 35px;
}
.modal1 .content{
    /* width:998px;  */
    width: 99.8%;
    /* height:1%; */
    height: 500px;
    overflow-y:auto;
    /* overflow-x:auto;  */
    background-color: white;
    color: #999;
    border: 1px solid black;
    border-top: 0;
    border-bottom: 0;
}
.modal1 .content::-webkit-scrollbar
{
    width: 5px;
    /* height: 10px; */
    background-color: white;
}
/*定义滚动条轨道 内阴影+圆角*/
.modal1 .content::-webkit-scrollbar-track
{
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    border-radius: 10px;
    background-color: white;
}
/*定义滑块 内阴影+圆角*/
.modal1 .content::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    /* width: 1px; */
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
    background-color: #ccc;
}
.modal1 .bot{
    width: 99.8%;
    height: 15px;
    margin-top: -2px;
    background-color: white;
    border-radius:0 0 15px 15px;
    border: 1px solid black;
    border-top: 0;
}
.modal1 .del{
    width: 26px;
    height: 26px;
    border-radius: 13px;
    background-color: #FF6666;
    position: absolute;
    top: 6px;
    right: 15px;
    cursor: pointer;
}


.gg{
    width: 80px;
    height: 80px;
    cursor: pointer;
    /* background: #999; */
    font-size: 16px;
    text-align: center;
    /* float: left; */
    color: black;
    font-weight: 600;
    margin-top: 0%;
    margin-left: 28%;
    transform: translate(0,-100%);
}
.gg img{
    width: 50px;
    height: 50px;
    border: 1px solid steelblue;
    border-radius: 25px;
    /* background: white; */
}
.modal2{
    width: 50%;
    /* height: 50%; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-48%);
    /* display: none; */
    animation: openit 1s linear;
    z-index: 1;
}
.modal2 .title{
    background-color: #20B2AA;
    color: white;
    height: 35px;
    border-radius: 15px 15px 0 0;
    border: 1px solid black;
    text-align: center;
    line-height: 35px;
}
.modal2 .content{
    /* width:998px;  */
    width: 99.8%;
    /* height:1%; */
    height: 500px;
    overflow-y:auto;
    /* overflow-x:auto;  */
    background-color: white;
    color: #999;
    border: 1px solid black;
    border-top: 0;
    border-bottom: 0;
}
.modal2 .content::-webkit-scrollbar
{
    width: 5px;
    /* height: 10px; */
    background-color: white;
}
/*定义滚动条轨道 内阴影+圆角*/
.modal2 .content::-webkit-scrollbar-track
{
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    border-radius: 10px;
    background-color: white;
}
/*定义滑块 内阴影+圆角*/
.modal2 .content::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    /* width: 1px; */
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
    background-color: #ccc;
}
.modal2 .bot{
    width: 99.8%;
    height: 15px;
    margin-top: -2px;
    background-color: white;
    border-radius:0 0 15px 15px;
    border: 1px solid black;
    border-top: 0;
}
.modal2 .del{
    width: 26px;
    height: 26px;
    border-radius: 13px;
    background-color: #FF6666;
    position: absolute;
    top: 6px;
    right: 15px;
    cursor: pointer;
}

.nine{
    width: 80px;
    height: 80px;
    cursor: pointer;
    /* background: #999; */
    font-size: 16px;
    text-align: center;
    color: black;
    font-weight: 600;
    margin-top: 0%;
    margin-left: 43%;
    transform: translate(0,-200%);
}
.nine img{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    background:red ;
}
.modal3{
    width: 50%;
    /* height: 50%; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-48%);
    /* display: none; */
    animation: openit 1s linear;
    z-index: 1;
}
.modal3 .title{
    background-color: #20B2AA;
    color: white;
    height: 35px;
    border-radius: 15px 15px 0 0;
    border: 1px solid black;
    text-align: center;
    line-height: 35px;
}
.modal3 .content{
    /* width:998px;  */
    width: 99.8%;
    /* height:1%; */
    height: 500px;
    overflow-y:auto;
    /* overflow-x:auto;  */
    background-color: white;
    color: #999;
    border: 1px solid black;
    border-top: 0;
    border-bottom: 0;
}
.modal3 .content::-webkit-scrollbar
{
    width: 5px;
    /* height: 10px; */
    background-color: white;
}
/*定义滚动条轨道 内阴影+圆角*/
.modal3 .content::-webkit-scrollbar-track
{
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    border-radius: 10px;
    background-color: white;
}
/*定义滑块 内阴影+圆角*/
.modal3 .content::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    /* width: 1px; */
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
    background-color: #ccc;
}
.modal3 .bot{
    width: 99.8%;
    height: 15px;
    margin-top: -2px;
    background-color: white;
    border-radius:0 0 15px 15px;
    border: 1px solid black;
    border-top: 0;
}
.modal3 .del{
    width: 26px;
    height: 26px;
    border-radius: 13px;
    background-color: #FF6666;
    position: absolute;
    top: 6px;
    right: 15px;
    cursor: pointer;
}


.iotcar{
    width: 80px;
    height: 80px;
    cursor: pointer;
    /* background: #999; */
    font-size: 16px;
    text-align: center;
    color: black;
    font-weight: 600;
    margin-top: 0%;
    margin-left: 60%;
    position: absolute;
    transform: translate(0,-300%);
}
.iotcar img{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    /* background:red ; */
}
.modal7{
    width: 50%;
    /* height: 50%; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-48%);
    /* display: none; */
    animation: openit 1s linear;
    z-index: 1;
}
.modal7 .title{
    background-color: #20B2AA;
    color: white;
    height: 35px;
    border-radius: 15px 15px 0 0;
    border: 1px solid black;
    text-align: center;
    line-height: 35px;
}
.modal7 .content{
    /* width:998px;  */
    width: 99.8%;
    /* height:1%; */
    height: 500px;
    overflow-y:auto;
    /* overflow-x:auto;  */
    background-color: white;
    color: #999;
    border: 1px solid black;
    border-top: 0;
    border-bottom: 0;
}
.modal7 .content::-webkit-scrollbar
{
    width: 5px;
    /* height: 10px; */
    background-color: white;
}
/*定义滚动条轨道 内阴影+圆角*/
.modal7 .content::-webkit-scrollbar-track
{
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    border-radius: 10px;
    background-color: white;
}
/*定义滑块 内阴影+圆角*/
.modal7 .content::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    /* width: 1px; */
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
    background-color: #ccc;
}
.modal7 .bot{
    width: 99.8%;
    height: 15px;
    margin-top: -2px;
    background-color: white;
    border-radius:0 0 15px 15px;
    border: 1px solid black;
    border-top: 0;
}
.modal7 .del{
    width: 26px;
    height: 26px;
    border-radius: 13px;
    background-color: #FF6666;
    position: absolute;
    top: 6px;
    right: 15px;
    cursor: pointer;
}

.music{
    width: 80px;
    height: 80px;
    cursor: pointer;
    /* background: #999; */
    font-size: 16px;
    text-align: center;
    color: black;
    font-weight: 600;
    margin-top: 0%;
    margin-left: 75%;
    position: absolute;
    transform: translate(0,-300%);
}
.music img{
    width: 60px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    /* background:red ; */
}
.modal8{
    width: 50%;
    /* height: 50%; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-48%);
    /* display: none; */
    animation: openit 1s linear;
    z-index: 1;
}
.modal8 .title{
    background-color: #20B2AA;
    color: white;
    height: 35px;
    border-radius: 15px 15px 0 0;
    border: 1px solid black;
    text-align: center;
    line-height: 35px;
}
.modal8 .content{
    /* width:998px;  */
    width: 99.8%;
    /* height:1%; */
    height: 500px;
    overflow-y:auto;
    /* overflow-x:auto;  */
    background-color: white;
    color: #999;
    border: 1px solid black;
    border-top: 0;
    border-bottom: 0;
}
.modal8 .content::-webkit-scrollbar
{
    width: 5px;
    /* height: 10px; */
    background-color: white;
}
/*定义滚动条轨道 内阴影+圆角*/
.modal8 .content::-webkit-scrollbar-track
{
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    border-radius: 10px;
    background-color: white;
}
/*定义滑块 内阴影+圆角*/
.modal8 .content::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    /* width: 1px; */
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
    background-color: #ccc;
}
.modal8 .bot{
    width: 99.8%;
    height: 15px;
    margin-top: -2px;
    background-color: white;
    border-radius:0 0 15px 15px;
    border: 1px solid black;
    border-top: 0;
}
.modal8 .del{
    width: 26px;
    height: 26px;
    border-radius: 13px;
    background-color: #FF6666;
    position: absolute;
    top: 6px;
    right: 15px;
    cursor: pointer;
}

.chicken{
    width: 80px;
    height: 80px;
    cursor: pointer;
    /* background: #999; */
    font-size: 16px;
    text-align: center;
    color: black;
    font-weight: 600;
    margin-top: 0%;
    margin-left: 90%;
    position: absolute;
    transform: translate(0,-300%);
}
.chicken img{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    /* background:red ; */
}
.modal9{
    width: 50%;
    /* height: 50%; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-48%);
    /* display: none; */
    animation: openit 1s linear;
    z-index: 1;
}
.modal9 .title{
    background-color: #20B2AA;
    color: white;
    height: 35px;
    border-radius: 15px 15px 0 0;
    border: 1px solid black;
    text-align: center;
    line-height: 35px;
}
.modal9 .content{
    -webkit-filter: blur(2px); /* Chrome, Opera */
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);    
    filter: blur(4px);
    /* width:998px;  */
    width: 99.8%;
    /* height:1%; */
    height: 500px;
    overflow-y:auto;
    /* overflow-x:auto;  */
    background-color: white;
    color: #999;
    border: 1px solid black;
    border-top: 0;
    border-bottom: 0;
}
.modal9 .content::-webkit-scrollbar
{
    width: 5px;
    /* height: 10px; */
    background-color: white;
}
/*定义滚动条轨道 内阴影+圆角*/
.modal9 .content::-webkit-scrollbar-track
{
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    border-radius: 10px;
    background-color: white;
}
/*定义滑块 内阴影+圆角*/
.modal9 .content::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    /* width: 1px; */
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
    background-color: #ccc;
}
.modal9 .bot{
    width: 99.8%;
    height: 15px;
    margin-top: -2px;
    background-color: white;
    border-radius:0 0 15px 15px;
    border: 1px solid black;
    border-top: 0;
}
.modal9 .del{
    width: 26px;
    height: 26px;
    border-radius: 13px;
    background-color: #FF6666;
    position: absolute;
    top: 6px;
    right: 15px;
    cursor: pointer;
}

.vue{
    width: 80px;
    height: 80px;
    cursor: pointer;
    /* background: #999; */
    font-size: 16px;
    text-align: center;
    color: black;
    font-weight: 600;
    position: absolute;
    margin-top: 8%;
    margin-left: 60%;
    transform: translate(0,-100%);
}
.vue img{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 25px;
    background: wheat;
}
.modal10{
    width: 50%;
    /* height: 50%; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-48%);
    /* display: none; */
    animation: openit 1s linear;
    z-index: 1;
}
.modal10 .title{
    background-color: #20B2AA;
    color: white;
    height: 35px;
    border-radius: 15px 15px 0 0;
    border: 1px solid black;
    text-align: center;
    line-height: 35px;
}
.modal10 .content{
    /* width:998px;  */
    width: 99.8%;
    /* height:1%; */
    height: 500px;
    overflow-y:auto;
    /* overflow-x:auto;  */
    background-color: white;
    color: #999;
    border: 1px solid black;
    border-top: 0;
    border-bottom: 0;
}
.modal10 .content::-webkit-scrollbar
{
    width: 5px;
    /* height: 10px; */
    background-color: white;
}
/*定义滚动条轨道 内阴影+圆角*/
.modal10 .content::-webkit-scrollbar-track
{
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    border-radius: 10px;
    background-color: white;
}
/*定义滑块 内阴影+圆角*/
.modal10 .content::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    /* width: 1px; */
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
    background-color: #ccc;
}
.modal10 .bot{
    width: 99.8%;
    height: 15px;
    margin-top: -2px;
    background-color: white;
    border-radius:0 0 15px 15px;
    border: 1px solid black;
    border-top: 0;
}
.modal10 .del{
    width: 26px;
    height: 26px;
    border-radius: 13px;
    background-color: #FF6666;
    position: absolute;
    top: 6px;
    right: 15px;
    cursor: pointer;
}

.react{
    width: 80px;
    height: 80px;
    cursor: pointer;
    /* background: #999; */
    font-size: 16px;
    text-align: center;
    color: black;
    font-weight: 600;
    position: absolute;
    margin-top: 8%;
    margin-left: 75%;
    transform: translate(0,-100%);
}
.react img{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 25px;
    /* background: wheat; */
}
.modal11{
    width: 50%;
    /* height: 50%; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-48%);
    /* display: none; */
    animation: openit 1s linear;
    z-index: 1;
}
.modal11 .title{
    background-color: #20B2AA;
    color: white;
    height: 35px;
    border-radius: 15px 15px 0 0;
    border: 1px solid black;
    text-align: center;
    line-height: 35px;
}
.modal11 .content{
    /* width:998px;  */
    width: 99.8%;
    /* height:1%; */
    height: 500px;
    overflow-y:auto;
    /* overflow-x:auto;  */
    background-color: white;
    color: #999;
    border: 1px solid black;
    border-top: 0;
    border-bottom: 0;
}
.modal11 .content::-webkit-scrollbar
{
    width: 5px;
    /* height: 10px; */
    background-color: white;
}
/*定义滚动条轨道 内阴影+圆角*/
.modal11 .content::-webkit-scrollbar-track
{
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    border-radius: 10px;
    background-color: white;
}
/*定义滑块 内阴影+圆角*/
.modal11 .content::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    /* width: 1px; */
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
    background-color: #ccc;
}
.modal11 .bot{
    width: 99.8%;
    height: 15px;
    margin-top: -2px;
    background-color: white;
    border-radius:0 0 15px 15px;
    border: 1px solid black;
    border-top: 0;
}
.modal11 .del{
    width: 26px;
    height: 26px;
    border-radius: 13px;
    background-color: #FF6666;
    position: absolute;
    top: 6px;
    right: 15px;
    cursor: pointer;
}

.promise{
    width: 80px;
    height: 80px;
    cursor: pointer;
    /* background: #999; */
    font-size: 16px;
    text-align: center;
    color: black;
    font-weight: 600;
    position: absolute;
    margin-top: 8%;
    margin-left: 90%;
    transform: translate(0,-100%);
}
.promise img{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 25px;
    /* background: wheat; */
}
.modal12{
    width: 50%;
    /* height: 50%; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-48%);
    /* display: none; */
    animation: openit 1s linear;
    z-index: 1;
}
.modal12 .title{
    background-color: #20B2AA;
    color: white;
    height: 35px;
    border-radius: 15px 15px 0 0;
    border: 1px solid black;
    text-align: center;
    line-height: 35px;
}
.modal12 .content{
    /* width:998px;  */
    width: 99.8%;
    /* height:1%; */
    height: 500px;
    overflow-y:auto;
    /* overflow-x:auto;  */
    background-color: white;
    color: #999;
    border: 1px solid black;
    border-top: 0;
    border-bottom: 0;
}
.modal12 .content::-webkit-scrollbar
{
    width: 5px;
    /* height: 10px; */
    background-color: white;
}
/*定义滚动条轨道 内阴影+圆角*/
.modal12 .content::-webkit-scrollbar-track
{
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    border-radius: 10px;
    background-color: white;
}
/*定义滑块 内阴影+圆角*/
.modal12 .content::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    /* width: 1px; */
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
    background-color: #ccc;
}
.modal12 .bot{
    width: 99.8%;
    height: 15px;
    margin-top: -2px;
    background-color: white;
    border-radius:0 0 15px 15px;
    border: 1px solid black;
    border-top: 0;
}
.modal12 .del{
    width: 26px;
    height: 26px;
    border-radius: 13px;
    background-color: #FF6666;
    position: absolute;
    top: 6px;
    right: 15px;
    cursor: pointer;
}

.mr{
    width: 80px;
    height: 80px;
    cursor: pointer;
    /* background: #999; */
    font-size: 16px;
    text-align: center;
    color: black;
    font-weight: 600;
    margin-top: 8%;
    margin-left: 13%;
    transform: translate(0,-100%);
}
.mr img{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 25px;
    background: wheat;
}
.modal4{
    width: 50%;
    /* height: 50%; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-48%);
    /* display: none; */
    animation: openit 1s linear;
    z-index: 1;
}
.modal4 .title{
    background-color: #20B2AA;
    color: white;
    height: 35px;
    border-radius: 15px 15px 0 0;
    border: 1px solid black;
    text-align: center;
    line-height: 35px;
}
.modal4 .content{
    /* width:998px;  */
    width: 99.8%;
    /* height:1%; */
    height: 500px;
    overflow-y:auto;
    /* overflow-x:auto;  */
    background-color: white;
    color: #999;
    border: 1px solid black;
    border-top: 0;
    border-bottom: 0;
}
.modal4 .content::-webkit-scrollbar
{
    width: 5px;
    /* height: 10px; */
    background-color: white;
}
/*定义滚动条轨道 内阴影+圆角*/
.modal4 .content::-webkit-scrollbar-track
{
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    border-radius: 10px;
    background-color: white;
}
/*定义滑块 内阴影+圆角*/
.modal4 .content::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    /* width: 1px; */
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
    background-color: #ccc;
}
.modal4 .bot{
    width: 99.8%;
    height: 15px;
    margin-top: -2px;
    background-color: white;
    border-radius:0 0 15px 15px;
    border: 1px solid black;
    border-top: 0;
}
.modal4 .del{
    width: 26px;
    height: 26px;
    border-radius: 13px;
    background-color: #FF6666;
    position: absolute;
    top: 6px;
    right: 15px;
    cursor: pointer;
}


.flower{
    width: 80px;
    height: 80px;
    cursor: pointer;
    /* background: #999; */
    font-size: 16px;
    text-align: center;
    color: black;
    font-weight: 600;
    margin-top: 0;
    margin-left: 28%;
    transform: translate(0,-200%);
}
.flower img{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 25px;
    background: #20B2AA;
}
.modal5{
    width: 50%;
    /* height: 50%; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-48%);
    /* display: none; */
    animation: openit 1s linear;
    z-index: 1;
}
.modal5 .title{
    background-color: #20B2AA;
    color: white;
    height: 35px;
    border-radius: 15px 15px 0 0;
    border: 1px solid black;
    text-align: center;
    line-height: 35px;
}
.modal5 .content{
    /* width:998px;  */
    width: 99.8%;
    /* height:1%; */
    height: 500px;
    overflow-y:auto;
    /* overflow-x:auto;  */
    background-color: white;
    color: #999;
    border: 1px solid black;
    border-top: 0;
    border-bottom: 0;
}
.modal5 .content::-webkit-scrollbar
{
    width: 5px;
    /* height: 10px; */
    background-color: white;
}
/*定义滚动条轨道 内阴影+圆角*/
.modal5 .content::-webkit-scrollbar-track
{
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    border-radius: 10px;
    background-color: white;
}
/*定义滑块 内阴影+圆角*/
.modal5 .content::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    /* width: 1px; */
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
    background-color: #ccc;
}
.modal5 .bot{
    width: 99.8%;
    height: 15px;
    margin-top: -2px;
    background-color: white;
    border-radius:0 0 15px 15px;
    border: 1px solid black;
    border-top: 0;
}
.modal5 .del{
    width: 26px;
    height: 26px;
    border-radius: 13px;
    background-color: #FF6666;
    position: absolute;
    top: 6px;
    right: 15px;
    cursor: pointer;
}
.pengpeng{
    width: 80px;
    height: 80px;
    cursor: pointer;
    /* background: #999; */
    font-size: 16px;
    text-align: center;
    color: black;
    font-weight: 600;
    margin-top: 0;
    margin-left: 43%;
    transform: translate(0,-300%);
}
.pengpeng img{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius:10px;
    background: orange;
}
.modal6{
    width: 50%;
    /* height: 50%; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-48%);
    /* display: none; */
    animation: openit 1s linear;
    z-index: 1;
}
.modal6 .title{
    background-color: #20B2AA;
    color: white;
    height: 35px;
    border-radius: 15px 15px 0 0;
    border: 1px solid black;
    text-align: center;
    line-height: 35px;
}
.modal6 .content{
    /* width:998px;  */
    width: 99.8%;
    /* height:1%; */
    height: 500px;
    overflow-y:auto;
    /* overflow-x:auto;  */
    background-color: white;
    color: #999;
    border: 1px solid black;
    border-top: 0;
    border-bottom: 0;
}
.modal6 .content::-webkit-scrollbar
{
    width: 5px;
    /* height: 10px; */
    background-color: white;
}
/*定义滚动条轨道 内阴影+圆角*/
.modal6 .content::-webkit-scrollbar-track
{
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    border-radius: 10px;
    background-color: white;
}
/*定义滑块 内阴影+圆角*/
.modal6 .content::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    /* width: 1px; */
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
    background-color: #ccc;
}
.modal6 .bot{
    width: 99.8%;
    height: 15px;
    margin-top: -2px;
    background-color: white;
    border-radius:0 0 15px 15px;
    border: 1px solid black;
    border-top: 0;
}
.modal6 .del{
    width: 26px;
    height: 26px;
    border-radius: 13px;
    background-color: #FF6666;
    position: absolute;
    top: 6px;
    right: 15px;
    cursor: pointer;
}
.content-con{
    margin-left: 5%;
    margin-top: 2%;
    font-size: 18px;
    font-size: #999;
    font-weight: 550;
}
.content-title{
    color: black;
    font-size: 24px;
    margin-left: 3%;
    margin-top: 1%;
}
.content-title text{
    /* font-size: 30px; */
    font-weight: 900;
    color: #20B2AA;
}
.ima{
    margin-left: 7%;
    margin-top: 5%;
    width: 40%;
    /* transform: translate(-95%,0) */
}
.imb{
    margin-left: 7%;
    margin-top: 5%;
    width: 40%;
    /* transform: translate(-95%,0) */
}
.imc{
    margin-left: 5%;
    margin-top: 3%;
    width: 90%;
    /* transform: translate(-50%,0) */
}
.imd{
    margin-left: 50%;
    /* margin-top: 3%; */
    width: 50%;
    transform: translate(-50%,0)
}
.go{
    margin-left: 10%;
    position: relative;
    top: 5px;
    /* margin-top: 2%; */
}
.xing{
    color: red;
    font-size: 40px;
    position: absolute;
    top: -20%;
    left: 80%;
}
@media screen and (max-width: 500px){
    .experience{
        width: 120px;
        height: 40px;
        line-height: 40px;
        border-radius: 10px;
        font-size: 14px;
    }
    .lvshi{
        width: 80px;
        height: 80px;
        cursor: pointer;
        /* float: left; */
        /* background: #999; */
        font-size: 12px;
        text-align: center;
        color: black;
        font-weight: 600;
        margin-top: 20%;
        /* float: right; */
        margin-left: 8%;
    }
    .lvshi img{
        width: 40px;
        height: 40px;
    }
    .mr img{
        width: 40px;
        height: 40px;
    }
    .gg img{
        width: 40px;
        height: 40px;
    }
    .nine img{
        width: 40px;
        height: 40px;
    }
    .flower img{
        width: 40px;
        height: 40px;
    }
    .pengpeng img{
        width: 40px;
        height: 40px;
    }
    .iotcar img{
        width: 40px;
        height: 40px;
    }
    .music img{
        width: 50px;
        height: 40px;
    }
    .chicken img{
        width: 40px;
        height: 40px;
    }
    .vue img{
        width: 40px;
        height: 40px;
    }
    .react img{
        width: 40px;
        height: 40px;
    }
    .promise img{
        width: 40px;
        height: 40px;
    }
    .modal1{
        width: 90%;
        /* height: 50%; */
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-48%);
        /* display: none; */
        animation: openit 1s linear;
        z-index: 1;
    }
    .gg{
        width: 80px;
        height: 80px;
        cursor: pointer;
        /* background: #999; */
        font-size: 12px;
        text-align: center;
        /* float: left; */
        color: black;
        font-weight: 600;
        margin-top: 0%;
        margin-left: 43%;
        transform: translate(0,-100%);
    }
    .modal2{
        width: 90%;
        /* height: 50%; */
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-48%);
        /* display: none; */
        animation: openit 1s linear;
        z-index: 1;
    }
    .nine{
        width: 80px;
        height: 80px;
        cursor: pointer;
        /* background: #999; */
        font-size: 12px;
        text-align: center;
        color: black;
        font-weight: 600;
        margin-top: 0%;
        margin-left: 75%;
        transform: translate(0,-200%);
    }
    .modal3{
        width: 90%;
        /* height: 50%; */
        /* overflow-x: hidden; */
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-48%);
        /* display: none; */
        animation: openit 1s linear;
        z-index: 1;
    }
    .experience-font{
        width: 80px;
        height: 30px;
        line-height: 30px;
        border-radius: 10px;
        font-size: 14px;
    }
    .experience-back{
        width: 80px;
        height: 30px;
        background: #E9967A;
        color: white;
        text-align: center;
        line-height: 30px;
        font-size: 14px;
        border-radius: 10px;
        border:1.5px solid black;
        position: absolute;
        margin-top: 10%;
        margin-left: 10%;
    }
    .code-write{
        width: 80px;
        height: 30px;
        /* background: #E9967A; */
        color: white;
        text-align: center;
        line-height: 30px;
        font-size: 14px;
        border-radius: 10px;
        border:1.5px solid black;
        position: absolute;
        margin-top: 105%;
        margin-left: 10%;
    }
    .mr{
        width: 80px;
        height: 80px;
        cursor: pointer;
        /* background: #999; */
        font-size: 12px;
        text-align: center;
        color: black;
        font-weight: 600;
        margin-top: 6%;
        margin-left: 8%;
        transform: translate(0,-100%);
    }
    .modal4{
        width: 90%;
        /* height: 50%; */
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-48%);
        /* display: none; */
        animation: openit 1s linear;
        z-index: 1;
    }
    .flower{
        width: 80px;
        height: 80px;
        cursor: pointer;
        /* background: #999; */
        font-size: 12px;
        text-align: center;
        color: black;
        font-weight: 600;
        margin-top: 0;
        margin-left: 43%;
        transform: translate(0,-200%);
    }
    .modal5{
        width: 90%;
        /* height: 50%; */
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-48%);
        /* display: none; */
        animation: openit 1s linear;
        z-index: 1;
    }
    .pengpeng{
        width: 80px;
        height: 80px;
        cursor: pointer;
        /* background: #999; */
        font-size: 12px;
        text-align: center;
        color: black;
        font-weight: 600;
        margin-top: 0;
        margin-left: 75%;
        transform: translate(0,-300%);
    }
    .modal6{
        width: 90%;
        /* height: 50%; */
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-48%);
        /* display: none; */
        animation: openit 1s linear;
        z-index: 1;
    }

    .vue{
        width: 80px;
        height: 80px;
        cursor: pointer;
        /* background: #999; */
        font-size: 12px;
        text-align: center;
        color: black;
        font-weight: 600;
        margin-top: 105%;
        margin-left: 8%;
        transform: translate(0,-100%);
    }
    .modal10{
        width: 90%;
        /* height: 50%; */
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-48%);
        /* display: none; */
        animation: openit 1s linear;
        z-index: 1;
    }
    .react{
        width: 80px;
        height: 80px;
        cursor: pointer;
        /* background: #999; */
        font-size: 12px;
        text-align: center;
        color: black;
        font-weight: 600;
        margin-top: 105%;
        margin-left: 43%;
        transform: translate(0,-100%);
    }
    .modal11{
        width: 90%;
        /* height: 50%; */
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-48%);
        /* display: none; */
        animation: openit 1s linear;
        z-index: 1;
    }
    .promise{
        width: 80px;
        height: 80px;
        cursor: pointer;
        /* background: #999; */
        font-size: 12px;
        text-align: center;
        color: black;
        font-weight: 600;
        margin-top: 105%;
        margin-left: 75%;
        transform: translate(0,-100%);
    }
    .modal12{
        width: 90%;
        /* height: 50%; */
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-48%);
        /* display: none; */
        animation: openit 1s linear;
        z-index: 1;
    }

    .go{
        margin-left: 0;
        margin-left: 5%;
        font-size: 12px;
        position: relative;
        top: 5px;
        /* margin-top: 2%; */
    }
    .experience-iot{
        width: 80px;
        height: 30px;
        background: #FF6666;
        color: white;
        text-align: center;
        line-height: 30px;
        font-size: 14px;
        border-radius: 10px;
        border:1.5px solid black;
        position: absolute;
        margin-top: 100%;
        margin-left: 10%;
    }
    .modal7{
        width: 90%;
        /* height: 50%; */
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-48%);
        /* display: none; */
        animation: openit 1s linear;
        z-index: 1;
    }
    .iotcar{
        width: 80px;
        height: 80px;
        cursor: pointer;
        /* background: #999; */
        font-size: 12px;
        text-align: center;
        color: black;
        font-weight: 600;
        margin-top: 100%;
        margin-left: 7%;
        transform: translate(0,-300%);
    }
    .modal8{
        width: 90%;
        /* height: 50%; */
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-48%);
        /* display: none; */
        animation: openit 1s linear;
        z-index: 1;
    }
    .music{
        width: 80px;
        height: 80px;
        cursor: pointer;
        /* background: #999; */
        font-size: 12px;
        text-align: center;
        color: black;
        font-weight: 600;
        margin-top: 100%;
        margin-left: 43%;
        transform: translate(0,-300%);
    }
    .modal9{
        width: 90%;
        /* height: 50%; */
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-48%);
        /* display: none; */
        animation: openit 1s linear;
        z-index: 1;
    }
    .chicken{
        width: 80px;
        height: 80px;
        cursor: pointer;
        /* background: #999; */
        font-size: 12px;
        text-align: center;
        color: black;
        font-weight: 600;
        margin-top: 100%;
        margin-left: 75%;
        transform: translate(0,-300%);
    }
}