*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    /* background: #E83338 */
}
.percentile{
    color: black;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,0);
    text-align: center;
    z-index: 10000;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace
}
.tishi{
    color: #999;
    font-size: 12px;
    /* width: 200px; */
    height: 200px;
    position: absolute;
    top: 73%;
    left: 50%;
    transform: translate(-50%,0);
    text-align: center;
    z-index: 10000;
}
.tishibtn{
    color: black;
    width: 120px;
    height: 30px;
    line-height: 30px;
    border-radius: 10px;
    /* height: 200px; */
    cursor: pointer;
    border: 1px solid black;
    background: #6495ED;
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%,0);
    text-align: center;
    z-index: 10000;
}
@keyframes myfirst
{
0%   {background:#6495ED; height: 0%;}
25%  {background:#6495ED; height: 25%;}
50%  {background:#6495ED; height: 50%;}
75%  {background:#6495ED;height: 75%;}
100% {background:#6495ED; height: 100%;}
}

@-moz-keyframes myfirst /* Firefox */
{
    0%   {background:#6495ED; height: 0%;}
    25%  {background:#6495ED; height: 25%;}
    50%  {background:#6495ED; height: 50%;}
    75%  {background:#6495ED;height: 75%;}
    100% {background:#6495ED; height: 100%;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
    0%   {background:#6495ED; height: 0%;}
    25%  {background:#6495ED; height: 25%;}
    50%  {background:#6495ED; height: 50%;}
    75%  {background:#6495ED;height: 75%;}
    100% {background:#6495ED; height: 100%;}
}

@-o-keyframes myfirst /* Opera */
{
    0%   {background:#6495ED; height: 0%;}
    25%  {background:#6495ED; height: 25%;}
    50%  {background:#6495ED; height: 50%;}
    75%  {background:#6495ED;height: 75%;}
    100% {background:#6495ED; height: 100%;}
}
#root{
    height: 100%;
    width: 100%;
    background-size: cover;
    position: absolute;
    top: 0px;
    bottom: 0px;
    /* animation:myfirst 0.8s linear;
    -moz-animation:myfirst 0.8s linear; 
    -webkit-animation:myfirst 0.8s linear; 
    -o-animation:myfirst 0.8s linear;  */
    background: #6495ED;
    /* resize: none; */
}
a {
    /* color:#000; */
    text-decoration:none;
    outline: none;
    margin-right: 15px;
    margin-left: 15px;
    font-weight: 900;
    font-size: 18px;
    text-align: center;
}

.App .Header{
    background: white;
    width: 100%;
    /* color: white; */
}
.App .Header-wrapper{
    margin-left: 100px;
    height: 35px;
    line-height: 35px;
    /* color: white; */
    /* float: left; */
    /* background: white; */
}
.clear{
    clear:both;
}
.App .Header-wrapper div{
    float: left;
    /* margin-bottom: 100px; */
}
.activ{
    height: 99%;
    border-radius: 20px;
    background: #6495ED;
    
    /* margin: 0 auto; */
    /* margin-right: 20px; */
}
.activ a{
    color: white;
}
@-webkit-keyframes pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    
    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}
    
@keyframes pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
        
    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}
.other {
    display: inline-block;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.other:hover, .other:focus, .other:active {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.other a{
    color: #6495ED;
}
.App .Header .Time{
    /* background: red; */
    /* font-size: 22px; */
    position: relative;
    float: right;
    margin-right: 100px;
    font-size: 16px;
    font-weight: 900;
}
.App .Header .Logo{
    /* background: red; */
    float: left;
    font-size: 18px;
    line-height: 35px;
    margin-left: 30px;
    font-weight: 300
}
.begin{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #6495ED;
    z-index: 1;
}
.begin1{
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: #6495ED; */
    z-index: 1;
}
.begin2{
    display: none;
}
.bg1{
    height: 10%;
    /* background: red; */
    animation:change 1.6s linear;
}
.bg2{
    height: 10%;
    animation:change 1.8s linear;
}
.bg3{
    height: 10%;
    animation:change 1.9s linear;
}
.bg4{
    height: 10%;
    animation:change 1.7s linear;
}
.bg5{
    height: 10%;
    animation:change 1.5s linear;
}
.bg6{
    height: 10%;
    animation:change 1.6s linear;
}
.bg7{
    height: 10%;
    animation:change 1.7s linear;
}
.bg8{
    height: 10%;
    animation:change 1.9s linear;
}
.bg9{
    height: 10%;
    animation:change 1.8s linear;
}
.bg10{
    height: 10%;
    animation:change 1.6s linear;
}
@keyframes change
{
0%   {background: #708090; width:  0%;margin-left:0}
25%  {background: #708090;width: 50%;margin-left:0}
50%  {background: #708090;width: 100%;margin-left:0}
75%  {background: #708090;margin-left: 50%;width: 50%;}
100% {background: #708090;margin-left: 100%;width: 0;}
}
.beginn{
    position: absolute;
    width: 100%;
    height: 150%;
    z-index: 10000;
    transform: translate(0,-20%);
    background: #fafafa;
}
.beginn img{
    position: absolute;
    /* width: 100%; */
    /* height: 200%; */
    /* background: #6495ED; */
    z-index: 10000;
    margin-left: 50%;
    top: 50%;
    /* margin-top: 10%; */
    transform: translate(-50%,-60%);
}
.beginn1{
    display: none;
}


@media screen and (max-width: 500px){
    #root{
        overflow-x: hidden
    }
    .Logo{
        display: none;
    }
    .activ{
        /* height: 50%; */
        /* width: 10%; */
        border-radius: 20px;
        background: #6495ED;
        font-size: 12px;
    }
    .activ a{
        font-size: 12px;
        color: white;
    }
    .other a{
        font-size: 12px;
        color: #6495ED;
    }
    .App .Header-wrapper{
        margin-left: 0;
        height: 35px;
        line-height: 35px;
        /* color: white; */
        /* float: left; */
        /* background: white; */
    }
    .App .Header .Time{
        display: none;
    }
    .begin{
        display: none;
    }
    .begin1{
        display: none;
    }
}