*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    /* background: #E83338 */
}
@keyframes myfirst
{
0%   {background:#FF9900; height: 0%;}
25%  {background:#FF9900; height: 25%;}
50%  {background:#FF9900; height: 50%;}
75%  {background:#FF9900;height: 75%;}
100% {background:#FF9900; height: 100%;}
}

@-moz-keyframes myfirst /* Firefox */
{
    0%   {background:#FF9900; height: 0%;}
    25%  {background:#FF9900; height: 25%;}
    50%  {background:#FF9900; height: 50%;}
    75%  {background:#FF9900;height: 75%;}
    100% {background:#FF9900; height: 100%;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
    0%   {background:#FF9900; height: 0%;}
    25%  {background:#FF9900; height: 25%;}
    50%  {background:#FF9900; height: 50%;}
    75%  {background:#FF9900;height: 75%;}
    100% {background:#FF9900; height: 100%;}
}

@-o-keyframes myfirst /* Opera */
{
    0%   {background:#FF9900; height: 0%;}
    25%  {background:#FF9900; height: 25%;}
    50%  {background:#FF9900; height: 50%;}
    75%  {background:#FF9900;height: 75%;}
    100% {background:#FF9900; height: 100%;}
}
#root{
    height: 100%;
    width: 100%;
    background-size: cover;
    position: absolute;
    top: 0px;
    bottom: 0px;
    animation:myfirst 0.8s linear;
    -moz-animation:myfirst 0.8s linear; /* Firefox */
    -webkit-animation:myfirst 0.8s linear; /* Safari and Chrome */
    -o-animation:myfirst 0.8s linear; /* Opera */
    background: #ff9900;
}
a {
    color:#000;
    text-decoration:none;
    outline: none;
    margin-right: 15px;
    margin-left: 15px;
    font-weight: 900;
    font-size: 18px;
    text-align: center;
}

.App .Header{
    background: white;
    width: 100%;
}
.App .Header-wrapper{
    margin-left: 100px;
    height: 35px;
    line-height: 35px;
    /* float: left; */
    /* background: white; */
}
.clear{
    clear:both;
}
.App .Header-wrapper div{
    float: left;
    /* margin-bottom: 100px; */
}
.activ{
    height: 99%;
    border-radius: 20px;
    background: #ff9900;
    /* margin: 0 auto; */
    /* margin-right: 20px; */
}

.other {
    display: inline-block;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    }
.other:hover, .other:focus, .other:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    }
.App .Header .Time{
    /* background: red; */
    /* font-size: 22px; */
    position: relative;
    float: right;
    margin-right: 100px;
    font-size: 16px;
    font-weight: 900;
}
.App .Header .Logo{
    /* background: red; */
    float: left;
    font-size: 18px;
    line-height: 35px;
    margin-left: 30px;
    font-weight: 300
}