.wrapper .front-end,.back-end,.mini,.server,.ai{
    /* background-color: black */
    float: left;
}
body{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
not supported by any browser */
}
.front-end{
    width: 25%;
    height: 550px;
    background-color: #99CC33;
    color: white;
    margin-top: 6%;
    margin-left: 7%;
    border-radius:20px; 
    border: 1px solid black;
    display: inline-block;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.front-end .Title{
    text-align: center;
    background: white;
    color: black;
    font-size: 16px;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid black;
    border-radius: 20px 20px 0 0;
}
.front-end li{
    margin-left: 20px;
    margin-top:10px;
    font-size: 14px;
    font-weight: 200 
}
.back-end{
    width: 39%;
    height: 220px;
    /* overflow-y:auto; */
    background-color: #99CC99;
    color: white;
    margin-top: 6%;
    margin-left: 10px;
    border-radius:20px; 
    border: 1px solid black;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.back-end .Title{
    text-align: center;
    background: white;
    color: black;
    font-size: 16px;
    height: 35px;
    line-height: 35px;
    border-radius: 20px 20px 0 0;
    border-bottom: 1px solid black;
}
.back-end li{
    margin-left: 20px;
    margin-top:10px;
    font-size: 14px;
    font-weight: 200 
}
.mini{
    width: 39%;
    height: 320px;
    background-color: #FF6666;
    color: white;
    margin-top: 10px;
    margin-left: 10px;
    border-radius:20px; 
    border: 1px solid black;
    display: inline-block;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.mini .Title{
    text-align: center;
    background: white;
    color: black;
    font-size: 16px;
    height: 35px;
    line-height: 35px;
    border-radius: 20px 20px 0 0;
    border-bottom: 1px solid black;
}
.mini li{
    margin-left: 20px;
    margin-top:10px;
    font-size: 14px;
    font-weight: 200
}
.server{
    width: 20%;
    height: 180px;
    overflow-y:auto;
    background-color: #99CCCC;
    color: white;
    position: absolute;
    margin-top: 6%;
    margin-left: 10px;
    border-radius:20px; 
    border: 1px solid black;
    display: inline-block;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.server .Title{
    text-align: center;
    background: white;
    color: black;
    font-size: 16px;
    height: 35px;
    line-height: 35px;
    border-radius: 20px 20px 0 0;
    border-bottom: 1px solid black;
}
.server li{
    margin-left: 20px;
    margin-top:10px;
    font-size: 14px;
    font-weight: 200;
}
.ai{
    width: 20%;
    height: 360px;
    overflow-y:auto;
    background-color: #FFCCCC;
    color: white;
    margin-top: -30px;
    margin-left: 10px;
    border-radius:20px; 
    border: 1px solid black;
    display: inline-block;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.ai .Title{
    text-align: center;
    background: white;
    color: black;
    font-size: 16px;
    height: 35px;
    line-height: 35px;
    border-radius: 20px 20px 0 0;
    border-bottom: 1px solid black;
}
.ai li{
    margin-left: 20px;
    margin-top:10px;
    font-size: 14px;
    font-weight: 200
}
.block{
    position:absolute;
    color: white;
    background: #99CC99;
    width: 150px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 20px;
    margin-top: 20px;
    /* other decorate style */
    opacity: 0;
    -webkit-animation: barrage 10s  2s linear infinite;
    -moz-animation: barrage 10s 2s linear infinite;
    -ms-animation: barrage 10s 2s linear infinite;
    animation: barrage 10s 2s linear infinite;
    border: 1px solid black;
  }
  .block1{
    position:absolute;
    color: white;
    background: #FF9900;
    width: 150px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 20px;
    margin-top: 80px;
    /* other decorate style */
    opacity: 0;
    -webkit-animation: barrage 10s  0.5s linear infinite;
    -moz-animation: barrage 10s 0.5s linear infinite;
    -ms-animation: barrage 10s 0.5s linear infinite;
    animation: barrage 10s 0.5s linear infinite;
    border: 1px solid black;
  }
  .block2{
    position:absolute;
    color: white;
    background: #FF6666;
    width: 180px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 20px;
    margin-top: 120px;
    /* other decorate style */
    opacity: 0;
    -webkit-animation: barrage 10s  3s linear infinite;
    -moz-animation: barrage 10s 3s linear infinite;
    -ms-animation: barrage 10s 3s linear infinite;
    animation: barrage 10s 3s linear infinite;
    border: 1px solid black;
  }
  .block3{
    position:absolute;
    color: white;
    background: #99CCCC;
    width: 150px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 20px;
    margin-top: 80px;
    /* other decorate style */
    opacity: 0;
    -webkit-animation: barrage 10s  5s linear infinite;
    -moz-animation: barrage 10s 5s linear infinite;
    -ms-animation: barrage 10s 5s linear infinite;
    animation: barrage 10s 5s linear infinite;
    border: 1px solid black;
  }
  .block4{
    position:absolute;
    color: white;
    background: #99CC33;
    width: 150px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 20px;
    margin-top: 30px;
    /* other decorate style */
    opacity: 0;
    -webkit-animation: barrage 10s  7s linear infinite;
    -moz-animation: barrage 10s 7s linear infinite;
    -ms-animation: barrage 10s 7s linear infinite;
    animation: barrage 10s 7s linear infinite;
    border: 1px solid black;
  }
  .block5{
    position:absolute;
    color: white;
    background: wheat;
    width: 180px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 20px;
    margin-top: 120px;
    /* other decorate style */
    opacity: 0;
    -webkit-animation: barrage 10s  6.5s linear infinite;
    -moz-animation: barrage 10s 6.5s linear infinite;
    -ms-animation: barrage 10s 6.5s linear infinite;
    animation: barrage 10s 6.5s linear infinite;
    border: 1px solid black;
  }
 @keyframes barrage{
    0%{
      left:80%;
      opacity: 1;
      transform:translateX(0);
    }
    100%{
      left:0;
      opacity: 1;
      transform:translateX(-100%);
    }
 }



.front-end .lie{
  height: 490px;
  overflow-y:auto;
}
.front-end .lie::-webkit-scrollbar
{
  width: 5px;
  /* height: 10px; */
  background-color: #99CC33;
}
/*定义滚动条轨道 内阴影+圆角*/
.front-end .lie::-webkit-scrollbar-track
{
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
  border-radius: 20px;
  background-color: #99CC33;
}
/*定义滑块 内阴影+圆角*/
.front-end .lie::-webkit-scrollbar-thumb
{
  border-radius: 20px;
  /* width: 1px; */
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
  background-color: #ccc;
}


.back-end .lie{
  height: 170px;
  /* background: red; */
  overflow-y:auto;
}
.back-end .lie::-webkit-scrollbar
{
  width: 5px;
  /* height: 10px; */
  background-color: #99CC99;
}
/*定义滚动条轨道 内阴影+圆角*/
.back-end .lie::-webkit-scrollbar-track
{
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
  border-radius: 20px;
  background-color: #99CC99;
}
/*定义滑块 内阴影+圆角*/
.back-end .lie::-webkit-scrollbar-thumb
{
  border-radius: 20px;
  /* width: 1px; */
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
  background-color: #ccc;
}

.mini .lie{
  height: 270px;
  /* background: red; */
  overflow-y:auto;
}
.mini .lie::-webkit-scrollbar
{
  width: 5px;
  /* height: 10px; */
  background-color: #FF6666;
}
/*定义滚动条轨道 内阴影+圆角*/
.mini .lie::-webkit-scrollbar-track
{
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
  border-radius: 20px;
  background-color: #FF6666;
}
/*定义滑块 内阴影+圆角*/
.mini .lie::-webkit-scrollbar-thumb
{
  border-radius: 20px;
  /* width: 1px; */
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
  background-color: #ccc;
}

.server .lie{
  height: 130px;
  /* background: red; */
  overflow-y:auto;
}
.server .lie::-webkit-scrollbar
{
  width: 5px;
  /* height: 10px; */
  background-color: #99CCCC;
}
/*定义滚动条轨道 内阴影+圆角*/
.server .lie::-webkit-scrollbar-track
{
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
  border-radius: 20px;
  background-color: #99CCCC;
}
/*定义滑块 内阴影+圆角*/
.server .lie::-webkit-scrollbar-thumb
{
  border-radius: 20px;
  /* width: 1px; */
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
  background-color: #ccc;
}

.ai .lie{
  height: 310px;
  /* background: red; */
  overflow-y:auto;
}
.ai .lie::-webkit-scrollbar
{
  width: 5px;
  /* height: 10px; */
  background-color: #FFCCCC;
}
/*定义滚动条轨道 内阴影+圆角*/
.ai .lie::-webkit-scrollbar-track
{
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
  border-radius: 20px;
  background-color: #FFCCCC;
}
/*定义滑块 内阴影+圆角*/
.ai .lie::-webkit-scrollbar-thumb
{
  border-radius: 20px;
  /* width: 1px; */
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
  background-color: #ccc;
}
@media screen and (max-width: 500px){
  .front-end{
    width:85%;
    height: 400px;
    background-color: #99CC33;
    color: white;
    margin-top: 0 auto;
    margin-left: 50%;
    transform: translate(-50%,0);
    border-radius:20px; 
    border: 1px solid black;
}
.front-end .lie{
  width: 99.8%;
  height: 340px;
  overflow-y:auto;
}
.front-end .lie::-webkit-scrollbar
{
  width: 5px;
  /* height: 10px; */
  background-color: #99CC33;
}
/*定义滚动条轨道 内阴影+圆角*/
.front-end .lie::-webkit-scrollbar-track
{
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
  border-radius: 20px;
  background-color: #99CC33;
}
/*定义滑块 内阴影+圆角*/
.front-end .lie::-webkit-scrollbar-thumb
{
  border-radius: 20px;
  /* width: 1px; */
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
  background-color: #ccc;
}
.back-end{
  width: 40%;
  height: 220px;
  /* overflow-y:auto; */
  background-color: #99CC99;
  color: white;
  /* margin-top: 4.5%; */
  /* margin: 0 auto; */
  /* margin-left: 10px; */
  margin-left: 28%;
  transform: translate(-50%,0);
  border-radius:20px; 
  /* float: left; */
  border: 1px solid black;
}
.mini{
  width: 40%;
  height: 220px;
  background-color: #FF6666;
  color: white;
  margin-top: 0;
  margin-left: 73%;
  transform: translate(-50%,-100%);
  border-radius:20px;
  border: 1px solid black;
}
.mini .lie{
  height: 160px;
  /* background: red; */
  overflow-y:auto;
}
.mini .lie::-webkit-scrollbar
{
  width: 5px;
  /* height: 10px; */
  background-color: #FF6666;
}
/*定义滚动条轨道 内阴影+圆角*/
.mini .lie::-webkit-scrollbar-track
{
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
  border-radius: 20px;
  background-color: #FF6666;
}
/*定义滑块 内阴影+圆角*/
.mini .lie::-webkit-scrollbar-thumb
{
  border-radius: 20px;
  /* width: 1px; */
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
  background-color: #ccc;
}
.server{
  position: relative;
  width: 40%;
  height: 210px;
  background-color:#99CCCC ;
  color: white;
  margin-top: 0;
  margin-left: 28%;
  transform: translate(-50%,-100%);
  border-radius:20px;
  border: 1px solid black;
}
.ai{
  width: 40%;
  height: 210px;
  background-color: #FFCCCC;
  color: white;
  margin-top: 0;
  margin-left: 73%;
  transform: translate(-50%,-200%);
  border-radius:20px;
  border: 1px solid black;
}
.ai .lie{
  height: 150px;
  /* background: red; */
  overflow-y:auto;
}
}